{% extends "base.html" %}
{% block title %}Список задач{% endblock %}
{% block content %}

  <!-- Форма добавления новой задачи -->
  <form id="add-task-form" method="POST">
    {{ task_form.csrf_token }}
    Название задачи:
    {{ task_form.title(size=40, maxlength=24) }}
    {% for error in task_form.title.errors %}
      <span class="error">{{ error }}</span>
    {% endfor %}
    <button type="submit" class="add-button">Добавить</button>
  </form>


  <!-- Панель фильтрации и поиска -->
  <div class="filter-bar">
    <!-- Кнопки фильтрации по статусу -->
    <button type="button" class="filter-button active" data-filter="all">Все</button>
    <button type="button" class="filter-button" data-filter="undone">Невыполненные</button>
    <button type="button" class="filter-button" data-filter="done">Выполненные</button>
    <!-- Выпадающий список сортировки по дате -->
    <select id="sortSelect">
      <option value="asc">Сначала старые</option>
      <option value="desc">Сначала новые</option>
    </select>
    <!-- Поле поиска по названию задачи -->
    <input type="text" id="searchInput" placeholder="Поиск...">
  </div>

  <div id="tasks-container">
    {% include "tasks_list_partial.html" %}
  </div>

{% endblock %}
